<% provide :header_title, 'フォトフォーラム' %>

<%= form_tag(spots_path, method: "get", class: "search_form row") do %>
  <div class="input-field col s12">
    <%= text_field_tag :search,  params[:search], :placeholder => 'キーワード検索' %>
  </div>
<% end %>

<% if @spots.blank? %>
  <session class="search_result">
    <div class="content">
      <p> 条件に一致する検索結果はありません。 </p>
    </div>
  </session>
<% end %>
<div class="spots row">
  <% @spots.each do |spot| %>
    <%= render 'layouts/spot', spot: spot %>
  <% end %>
</div>

<% if logged_in? %>
  <div class="fixed-action-btn">
    <%= link_to new_spot_url, class: "btn-floating btn-large waves-effect waves-light" do %>
      <i class="material-icons">add</i>
    <% end %>
  </div>
<% end %>
