<header>
  <h1>いいねサポーター</h1>
</header>

<ul class="spots">
  <% @spots.each do |spot| %>
    <%= link_to spot do %>
      <li style="background-image: url(<%== asset_url(spot.picture) %>);">
        <h2><%= spot.placeName %></h2>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "＋", new_spot_url, :class => 'new_spot_button' %>
