<% provide(:title, @spot.placeName) %>
<h1><%= @spot.placeName %></h1>

<p>
<%= image_tag('fountain.png') %>

<h3>ワンポイントアドバイス</h3>
<ul>
  <% @advices.each do |advice| %>
    <li>
      <%= link_to image_tag("fountain", :size => "75x75", :alt => "アイコン"), "#" %>
      <%= advice.comment %>
    </li>
  <% end %>
</ul>
</p>
