<% provide(:title, @spot.placeName) %>
<h1><%= @spot.placeName %></h1>

<p>
<%= image_tag('fountain.png') %>

<h3>ワンポイントアドバイス</h3>
<ul>
  <% @advices.each do |advice| %>
    <li>
      <%= advice.comment %>

    </li>
  <% end %>
  <%= link_to "submit", new_spot_advice_url(spot_id: @spot.id) %>
</ul>
</p>
