<% provide(:title, @spot.placeName) %>
<h1><%= @spot.placeName %></h1>

<p>
<%= image_tag('fountain.png') %>

<h3>ワンポイントアドバイス</h3>
<ul>
  <% @advices.each do |advice| %>
    <li>
      <%= advice.comment %>
       <%= time_ago_in_words(advice.created_at) %> 前の投稿 
    </li>
  <% end %>
</ul>
</p>
