<p id="notice"><%= notice %></p>

<h1>SPOT MAP</h1>

  <style type="text/css">
    #map { height: 400px;
   margin-left:auto;    /* 左側マージンを自動的に空ける */
   margin-right:auto;   /* 右側マージンを自動的 に空ける */
   text-align:left;     /* 中身を左側表示に戻す */
   width: 80%;}
  </style>
  <div id="map"></div>


<br>

<script type="text/javascript">
function initMap() {

  var test ={lat: <%= @latitude %>, lng: <%= @longitude %>};
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 15,
    center: test
  });
  var transitLayer = new google.maps.TransitLayer();
  transitLayer.setMap(map);

  var contentString = 'aaa';
  var infowindow = new google.maps.InfoWindow({
    content: contentString
  });

  var marker = new google.maps.Marker({
    position:test,
    map: map,
    title: contentString
  });

  marker.addListener('click', function() {
    infowindow.open(map, marker);
  });
}
 </script>
 <script async defer
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMp5_5hyhKotQqX22WFnBgBECpZg3TTTU&callback=initMap">
 </script>
