<% provide(:title, @user.name) %>
<% provide :header_title, "プロフィール" %>

<section>
  <div class="row">
    <div class="col s12">
      <h3><%= @user.name %></h3>
      <div>
        <%= link_to "マイリスト",
                    mylists_path,
                    class: "waves-effect waves-light btn" %>
      </div>
    </div>
  </div>
</section>
