<% provide(:title, @user.name) %>
  <aside>
    <section>
      <h1>
        <%= @user.name %>
      </h1>
      <div>
        <%= link_to "マイリスト", mylists_path %>
      </div>
    </section>
  </aside>
