<% provide(:title, "Edit advice") %>

<h1>Update your advice</h1>

  <%= form_for(@advice) do |f| %>
    <div class="item">
      <h2>アドバイス</h2>
      <%= f.text_area :comment, :placeholder => 'コメント' %>
    </div>
    <div class="item">
      <h2>画像</h2>
      <%= f.file_field :picture, accept: 'image/jpeg' %>
    </div>
    <%= f.submit "送信", :class => 'button'  %>
  <% end %>
