<% provide(:title, 'advice') %>

<header>
  <h1><%= @advice.spot.placeName %></h1>
</header>

<session class="advice_detail">
  <%= image_tag @advice.picture.url, :class => 'header_img' if @advice.picture? %>
  <div class="content">
    <div class="button_and_head">
      <h2>ワンポイントアドバイス</h2>
      <%= link_to "地図で開く", create_url(@advice.lat,@advice.lng), :target=>["_blank"], :class => 'button' if @advice.lat != nil && @advice.lng != nil %>
    </div>
    <p><%= @advice.comment %></p>
  </div>
</section>
