ul.spots a {
  color: #eeeeee;
}

ul.spots li {
  margin: 16px 3%;
  height: 240px;
  background-position: center;
  background-size: cover;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

ul.spots li:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

ul.spots li h2 {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 14px 3%;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.new_spot_button {
  background-color: #3477CC;
  position: fixed;
  color: #eeeeee;
  right: 5%;
  bottom: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  vertical-align: middle;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

session .header_img {
  width: 100%;
}

session .content {
  margin: 10px 3% 30px;
}

session .button_and_head {
  display: flex;
  align-items: center;
}

session h2 {
  font-size: 20px;
  margin: 10px 0;
  border-left: solid 5px #3477CC;
  padding-left: 5px;
  box-sizing: border-box;
  margin-right: auto;
}

session .button {
  text-align: center;
  background-color: #3477CC;
  color: #EEEEEE;
  padding: 7px 0;
  border-radius: 5px;
  width: 100px;
  font-size: 16px;
}

session p {
  margin: 10px 0 20px;
  font-size: 14px;
  line-height: 24px;
}

session  time {
  font-size: 12px;
  color: #666666;
}

session.spot_detail .advice_item a {
  display: inline-flex;
  align-items: flex-start;
  padding: 10px 0;
}

session.spot_detail .advice_item:not(:last-child) {
  border-bottom: solid 1px #CCCCCC;
}

session.spot_detail .advice_item div {
  margin-right: auto;
}

session.spot_detail .advice_item p {
  color: #333333;
  margin-top: 0;
}

session.spot_detail .advice_item img {
  width: 30%;
}

session.new_spot .item {
  padding-bottom: 10px;
}

session.new_spot input[type="submit"]{
  margin: 10px auto 20px;
}

.search_box {
  padding: 0px 3%;

}
