<%= link_to spot, class: "col s12 l6 xl4" do %>
  <div class="z-depth-2 hoverable" style="background-image: url(<%== asset_url(spot.picture) %>);">
    <h2><%= spot.place_name %></h2>
  </div>
<% end %>
